{% extends 'layouts/app.html' %}

{% block js %}
<script src="/webtoaster/media/js/bootstrap/bootstrap-confirm.js"></script>
{% endblock %}

{% block content %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="">{{pulsar.name}}'s master TOAs:</a>
    <ul class="nav">
      <li class="dropdown"> 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tims <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Upload</a></li>
            <li><a href="#">View Master TOAs</a></li>
            <!--
            <li class="divider"></li>
            <li class="nav-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
            -->
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ephemeris <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/webtoaster/parfiles/new">Upload</a></li>
            <li><a href="/webtoaster/pulsars/{{pulsar.id}}/master_parfile">View Master TOAs</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Template <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Upload</a></li>
            <li><a href="#">Download Master</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Raw Data <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Upload</a></li>
            <li><a href="#">Download</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% if parfile %}
<table class="pulsar-info">
  <tr> 
    <td><b>File Name</b> </td><td>{{parfile.filename}}</td>
  </tr>
  <tr> 
    <td><b>File path</b> </td><td>{{parfile.filepath}}</td>
  </tr>
  <tr> 
    <td><b>Add at:</b> </td><td>{{parfile.add_time}}</td>
  </tr>
  <tr> 
    <td><b>MPAR id:</b></td><td>{{parfile.mparid}}</td>
  </tr>
</table>
<button type="button" class="btn btn-danger" onclick="delete_parfile();"> Delete </button>
<div class="confirmmodalcontainer"></div>
<script>
  function delete_parfile(){
    $('.confirmmodalcontainer').confirmModal({
      heading:'Deleting Parfile',
      body:'<p class="text-error">Please confirm that you want to delete {{parfile.filename}}</p>',
      callback: function() {
      window.location = "/webtoaster/parfiles/{{parfile.parfile_id}}/destroy?after=/webtoaster/pulsars/{{pulsar.id}}/";
       }
       });
  }
</script>

{%else%}
  <p class="text-warning">No TOAs Found.</p>
{% endif %}
{% endblock %}