{% extends 'layouts/app.html' %}

{% block content %}

<h2>{{pulsar.name}}</h2>

  <form class="form-horizontal" method="POST">{% csrf_token %}
    <fieldset>
      <legend>Enter Telescope's Information below</legend>
      <div class="control-group">
        <label class="control-label" for="name">Name: &nbsp</label> 
        <input class="input-medium text-center" name="name" type="text" value="{% if form.name.data %}{{form.name.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The name of the telescope.</span>
        {{form.name.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="itrf_x">itrf_x: &nbsp</label> <input class="input-medium text-center" name="itrf_x" type="text" value="{% if form.itrf_x.data %}{{form.itrf_x.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The x-coordinate of the telescope, as is used in TEMPO's obsys.dat.</span>
        {{form.itrf_x.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="itrf_y">itrf_y: &nbsp</label> <input class="input-medium text-center" name="itrf_y" type="text" value="{% if form.itrf_y.data %}{{form.itrf_y.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The y-coordinate of the telescope, as is used in TEMPO's obsys.dat.</span>
        {{form.itrf_y.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="itrf_z">itrf_z: &nbsp</label> <input class="input-medium text-center" name="itrf_z" type="text" value="{% if form.itrf_z.data %}{{form.itrf_z.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The z-coordinate of the telescope, as is used in TEMPO's obsys.dat.</span>
        {{form.itrf_z.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="abbrev">Abbreviation: &nbsp</label> <input class="input-medium text-center" name="abbrev" type="text" value="{% if form.abbrev.data %}{{form.abbrev.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The abbreviated name of the telescope.</span>
        {{form.abbrev.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="code">Code: &nbsp</label> <input class="input-medium text-center" name="code" type="text" value="{% if form.code.data %}{{form.code.data}}{% endif%}" placeholder="required"/>
        <span class="help-inline">The TEMPO-recognized site code for this telescope.</span>
        {{form.code.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="latitude">Latitude: &nbsp</label> <input class="input-medium text-center" name="latitude" type="text" value="{% if form.latitude.data %}{{form.latitude.data}}{% endif%}" placeholder="optional"/>{{form.latitude.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="longitude">Longitude: &nbsp</label> <input class="input-medium text-center" name="longitude" type="text" value="{% if form.longitude.data %}{{form.longitude.data}}{% endif%}" placeholder="optional"/>{{form.longitude.errors}}
      </div>

      <div class="control-group">
        <label class="control-label" for="datum">Datum: &nbsp</label> <input class="input-medium text-center" name="datum" type="text" value="{% if form.datum.data %}{{form.datum.data}}{% endif%}" placeholder="optional"/>{{form.datum.errors}}
      </div>

      <div id="aliases">

      </div>

      <div class="control-group">        
         <label class="control-label" for="aliases"></label> <button class="btn btn-info" type="button" id="add_aliases"><b>+</b>&nbsp&nbspAdd Alias</button>
      </div>

      <br/>
      <div class="control-group">
        <label class="control-label"></label>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </fieldset>

  </form>

<script>
  $(document).ready(function(){
    $('#add_aliases').click(function(){
      $('#aliases').append( $('<div class="control-group">'
                              +'<label class="control-label" for="name">Alias: &nbsp</label> <input class="input-medium text-center" name="aliases[]" type="text" value="" placeholder="enter alias"/>'
                              +'</div>') );
    });
  });
</script>
{% endblock %}