{% extends 'layouts/app.html' %}
{% load mytags %}


{% block js %}
<script src="/webtoaster/media/js/bootstrap/bootstrap-confirm.js"></script>
{% endblock %}


{% block content %}

<legend>Listing Par files <button class='btn btn-success' onclick="window.location='/webtoaster/parfiles/new'">+&nbspUpload</button> </legend>

{% if parfiles != list %}
  <table class="table table-bordered" id="pulsars_table">
    <tr>
      <th>File Name</th>
      <th>MPAR Id</th>
      <th>Pulsar</th>
      <th>Added On</th>
      <th></th>
    </tr>
    {% for parfile in parfiles %}
      <tr>
        <td><a href="/webtoaster/parfiles/{{parfile.parfile_id}}/download"> {{parfile.filename}}</a></td>
        <td>{{parfile.mparid}}</td>       
        <td><a href="/webtoaster/pulsars/{{parfile.pulsar_id}}">{{parfile.pulsar_name}}</a></td>
        <td>{{parfile.add_time}}</td>
        <td>
          <button type="button" class="btn btn-info" onclick="view_parfile({{parfile.parfile_id}});"> View </button>
          <button type="button" class="btn btn-danger" onclick="delete_parfile({{parfile.parfile_id}},'{{parfile.filename}}');"> Delete </button>
          <div class="confirmmodalcontainer"></div>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
<script>
  function delete_parfile(parfile_id, filename ){
    $('.confirmmodalcontainer').confirmModal({
      heading:'Deleting Parfile',
      body:'<p class="text-error">Please confirm that you want to delete '+filename+'</p>',
      callback: function() {
      window.location = "/webtoaster/parfiles/"+parfile_id+"/destroy?after=/webtoaster/parfiles";
       }
       });
  }

  function view_parfile(parfile_id){
    window.location = "/webtoaster/parfiles/"+parfile_id+"/view";
  }
</script>

{% endblock %}