{% extends 'layouts/app.html' %}
{% load mytags %}

{% block css %}
<link href="/webtoaster/media/css/bootstrap/bootstrap-fileupload.min.css?111111111" media="screen" rel="stylesheet" type="screen" />
{% endblock %}
{% block js %}
<script src="/webtoaster/media/js/bootstrap/bootstrap-fileupload.min.js"></script>
{% endblock %}

{% block navigation %}
<ul class="nav nav-tabs nav-stacked">
  <li>
    <a href="/webtoaster">
      <!--<i class="icon-chevron-right"></i>
    -->
      Home
    </a>
  </li>
  <li class="active">
    <a href="/webtoaster/pulsars">
      <!--<i class="icon-chevron-right"></i>
    -->
      Pulsars
    </a>
  </li>
  <li>
    <a href="/webtoaster/help">
      Help
    </a>
  </li>
  <li>
    <a href="/webtoaster/about">
      About
    </a>
  </li>
</ul>
{% endblock %}


{% block content %}

<legend>
  Select Parfile to Upload
</legend>

<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
  <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3">
      <i class="icon-file fileupload-exists"></i> 
      <span class="fileupload-preview"></span>
    </div>
    <span class="btn btn-file">
      <span class="fileupload-new">Select file</span>
      <span class="fileupload-exists">Change</span>
      <input type="file" name="parfile"/>
    </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% endblock %}

