{% extends 'layouts/app.html' %}

{% block content %}
<legend>{{rawfile.filename}} &nbsp&nbsp <button type="button" class="btn btn-info" onclick="location.href='/webtoaster/rawfiles/{{rawfile.rawfile_id}}/download'"> Download </button></legend>

<!-- 
   'add_time', 'backend', 'band_descriptor', 'bw', 'clock', 'dm', 'email_address', 'filename', 'filepath', 'filesize', 'freq', 'frontend', 'length', 'mjd', 'nbin', 'nchan', 'npol', 'nsub', 'obssystem', 'obssystem_id', 'pulsar_name', 'rawfile_id', 'real_name', 'replacement_rawfile_id', 'telescope_name'
 -->
<table class="pulsar-info">
  <tr> 
    <td><b>File Name</b> </td><td>{{rawfile.filename}}</td>
  </tr>
  <tr> 
    <td><b>File Path</b> </td><td>{{rawfile.filepath}}</td>
  </tr>
  <tr> 
    <td><b>File Size</b> </td><td>{{rawfile.filesize}}</td>
  </tr>
  <tr> 
    <td><b>Band</br>Descriptor</b> </td><td>{{rawfile.band_descriptor}}</td>
  </tr>
  <tr> 
    <td><b>Obs. System </br> Name</b> <br/> </td><td>{{rawfile.obssystem}}</td>
  </tr>  
  <tr> 
    <td><b>Pulsar</br> Name</b> <br/> </td><td>{{rawfile.pulsar_name}}</td>
  </tr>  
  <tr> 
    <td><b>Front-end</b> </td><td>{{rawfile.frontend}}</td>
  </tr>  
  <tr> 
    <td><b>Back-end</b> </td><td>{{rawfile.backend}}</td>
  </tr>
  <tr> 
    <td><b>Uploader</b> </td><td>{{rawfile.real_name}} <a href="mailto:{{rawfile.email_address}}">email</a></td>
  </tr>
  <tr> 
    <td><b>Add Time</b> </td><td>{{rawfile.add_time}}</td>
  </tr>
  <tr> 
    <td><b>Frequency</b> </td><td>{{rawfile.freq}}</td>
  </tr>
  <tr> 
    <td><b>MJD</b> </td><td>{{rawfile.mjd}}</td>
  </tr>
  <tr> 
    <td><b>DM</b> </td><td>{{rawfile.dm}}</td>
  </tr>
  <tr> 
    <td><b>NBin</b> </td><td>{{rawfile.nbin}}</td>
  </tr>
  <tr> 
    <td><b>NChan</b> </td><td>{{rawfile.nchan}}</td>
  </tr>
  <tr> 
    <td><b>NPol</b> </td><td>{{rawfile.npol}}</td>
  </tr>
  <tr> 
    <td><b>NSub</b> </td><td>{{rawfile.nsub}}</td>
  </tr>
  <tr> 
    <td><b>Telescope Name</b> </td><td>{{rawfile.telescope_name}}</td>
  </tr>
  <tr> 
    <td><b>Clock</b> </td><td>{{rawfile.clock}}</td>
  </tr>
</table>
{% endblock %}