{% extends 'layouts/app.html' %}

{% block messages %}
<div class="alert alert-success">
  The Application Messages will be displayed here!
</div>
{% endblock %}

{% block navigation %}
<ul class="nav nav-tabs nav-stacked">
	<li>
		<a href="/webtoaster">
			<!--<i class="icon-chevron-right"></i>
		-->
			Home
		</a>
	</li>
	<li>
		<a href="/webtoaster/pulsars">
			<!--<i class="icon-chevron-right"></i>
		-->
			Pulsars
		</a>
	</li>
	<li>
		<a href="/webtoaster/help">
			Help
		</a>
	</li>
	<li class="active">
		<a href="/webtoaster/about">
			About
		</a>
	</li>
</ul>
{% endblock %}


{% block content %}

<h2>About Area</h2>

<p>Here's we'll display information about the application. Ex: What it does, credits, etc.</p>

{% endblock %}