{% extends 'layouts/app.html' %}

{% block messages %}
<div class="alert alert-success">
  The Application Messages will be displayed here!
</div>
{% endblock %}

{% block navigation %}
<ul class="nav nav-tabs nav-stacked">
	<li>
		<a href="/webtoaster">
			<!--<i class="icon-chevron-right"></i>
		-->
			Home
		</a>
	</li>
	<li class="active">
		<a href="/webtoaster/pulsars">
			<!--<i class="icon-chevron-right"></i>
		-->
			Pulsars
		</a>
		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="/webtoaster/help">
					Timfiles
				</a>
			</li>
			<li>
			<a href="/webtoaster/about">
				Ephems
			</a>
		</li>
		</ul>
	</li>
	<li>
		<a href="/webtoaster/help">
			Help
		</a>
	</li>
	<li>
		<a href="/webtoaster/about">
			About
		</a>
	</li>
</ul>
{% endblock %}


{% block content %}

<h2>Pulsar Area</h2>

<p> Here we'll display tables full of pulsar. </p>

{% endblock %}