{% extends 'layouts/app.html' %}
{% load mytags %}

{% block messages %}
<div class="alert alert-success">
  The Application Messages will be displayed here!
</div>
{% endblock %}

{% block navigation %}
<ul class="nav nav-tabs nav-stacked">
	<li>
		<a href="/webtoaster">
			<!--<i class="icon-chevron-right"></i>
		-->
			Home
		</a>
	</li>
	<li class="active">
		<a href="/webtoaster/pulsars">
			<!--<i class="icon-chevron-right"></i>
		-->
			Pulsars
		</a>
	</li>
	<li>
		<a href="/webtoaster/help">
			Help
		</a>
	</li>
	<li>
		<a href="/webtoaster/about">
			About
		</a>
	</li>
</ul>
{% endblock %}


{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Pulsars</a>
    <ul class="nav">
      <li class="active"><a href="">List</a></li>
      <li><a href="/webtoaster/pulsars/add">Add</a></li>
      <li><a href="#">Timfiles</a></li>
      <li><a href="#">Ephems</a></li>
    </ul>
  </div>
</div>

<div>


	<table class="table table-bordered" id="pulsars_table">
		<tr>
				<th><a href="?page={{pulsars.number}}&sort_by=name&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> Name </a></th>
				<th><a href="?page={{pulsars.number}}&sort_by=raj&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> RA </a><br/> <small class="muted">(hh:mm:ss)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=decj&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> DEC </a><br/> <small class="muted">(dd:am:as)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=period&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> Period </a><br/> <small class="muted">(sec)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=dm&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> DM </a><br/> <small class="muted">(pc/cm<sup>3</sup>)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=observations&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> Observations </a><br/> <small class="muted">(count)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=num_toas&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> TOAs </a><br/> <small class="muted">(count)</small></th>
				<th><a href="?page={{pulsars.number}}&sort_by=curators&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> Curator(s) </a></th>
				<th><a href="?page={{pulsars.number}}&sort_by=telescopes&order={% if order == 'desc' %}asc{%else%}desc{% endif %}"> Telescope(s)<br/>Used </a></th>
				<th>
					<button class="btn btn-info" id="select_deselect_all">Select/<br/>Deselect All</button>
				</th>
		</tr>
		{% for pulsar in pulsars.object_list %}
			<tr>
				<td><a href="/webtoaster/pulsars/{{pulsar.id}}/">{{pulsar.name}}</a></td>
				<td>{{pulsar.raj}}</td>
				<td>{{pulsar.decj}}</td>
				<td>{{pulsar.period}}</td>
				<td>{{pulsar.dm}}</td>
				<td>{{pulsar.observations}}</td>
				<td>{{pulsar.num_toas}}</td>
				<td>{{pulsar.curators}}</td>
				<td>{{pulsar.telescopes}}</td>
				<td><input type="checkbox" value="{{pulsar.id}}"/></td>
			</tr>
		{% endfor %}

	</table>
	<div style="text-align: center">
		<div class="pagination" style="margin-left: auto; margin-right: auto">
		  <ul>
		    <li class="{% if not pulsars.has_previous %}disabled{%endif%}"><a {% if pulsars.has_previous %}href="?page={{pulsars.previous_page_number}}&sort_by={{sort_by}}&order={{order}}"{%endif%}>&laquo;</a></li>
		  	{% for num in page_range %}
		    	<li class="{% if num == pulsars.number %}active{%endif%}"><a href="?page={{num}}&sort_by={{sort_by}}&order={{order}}">{{num}}</a></li>
		    {% endfor %}
		    <li class="{% if not pulsars.has_next %}disabled{%endif%}"><a {% if pulsars.has_next %}href="?page={{pulsars.next_page_number}}&sort_by={{sort_by}}&order={{order}}"{%endif%}>&raquo;</a></li>
		  </ul>
		</div>
	</div>


</div>

<script>
	$(document).ready(function(){
		
		$('#select_deselect_all').click(function(){
			if( $(this).attr('data') == 'checked' ) {
				$('#pulsars_table input[type=checkbox]').removeAttr('checked').change();
				$(this).attr('data','unchecked');
			} else {
				$('#pulsars_table input[type=checkbox]').attr('checked','checked');
				$(this).attr('data', 'checked');
			}
			
		});

	});

</script>

{% endblock %}